*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*  SECTION */
.container {
    height: 100vh;
    width: 100%;

    background-image:
        linear-gradient(to bottom,
            rgba(255,255,255,0.06) 50%,
            rgba(0,0,0,0.06) 50%
        ),
        linear-gradient(to right,
            #f8c8dc 20%,
            #f4a6c1 20%,
            #f4a6c1 40%,
            #f8c8dc 40%,
            #f8c8dc 60%,
            #f4a6c1 60%,
            #f4a6c1 80%,
            #f8c8dc 80%
        );

    background-size:
        100% 250px,
        100% 100%;

    background-repeat:
        repeat,
        no-repeat;

    
}


/* NAVIGATION BAR */
.navbar{
    width: 100%;
    height: 150px;
    background-color:#e75480;;
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
   clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
   font-family: "Dancing Script", cursive;

}

.navbar img{
    width: 200px;
    height: 200px;
    padding: 20px;
}

a{
    text-decoration: none;
    display: inline-block;
    
}

ul{
    list-style: none;
}

.nav-list{
    display: flex;
    align-items: center;
    position: absolute;

}

.buttons{
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    gap: 20px;
    margin-left: 50px;
    color: white;
}

.buttons:hover{
    color: #000;
    border: solid 2px #fff;
    border-radius: 3px;
    padding: 10px;
    transition: 0.5s;

}

/* HERO SECTION */
.hero-section{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    padding: 100px;
    gap: 100px;
   
    

}


.hero-section img{
    margin-top: -50px;
    filter: drop-shadow(0 20px 40px rgba(0,0,0,0.25));

}

.hero-section div:first-child {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideLeft 1.2s ease forwards;
}

.hero-section div:last-child {
    opacity: 0;
    transform: translateX(50px);
    animation: slideRight 1.2s ease forwards;
}

@keyframes slideLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


h1{
    margin-top: -150px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 2;
}

p{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: "Dancing Script", cursive; ;


}


